body {
	background-image: url(https://images.duckduckgo.com/iu/?u=https%3A%2F%2Fi.ytimg.com%2Fvi%2F9U_S9EF6Wvg%2Fmaxresdefault.jpg&f=1);
	background-color: #EDA934;
	font-family: 'Indie Flower', cursive;
}
